{% extends 'HTMStockBundle::index.html.twig' %}
{% block body %}
	<div class="row" >
 <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             Liste des factures
                        </div>
        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>factureNum</th>
                                            <th>date</th>
                                            <th>type</th>
                                            <th>total</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>

<tbody>
{% for facture in factures %}
	<tr class="odd gradeX">
	<td>{{ facture.facturNum }}</td>
	<td>{{ facture.date | date("d/M/Y") }}</td>
	<td>{{ facture.type }}</td>
	<td>{{ facture.total }}</td>

	<td>
		<ul>
			<li><a href="{{path('htm_stock_Facture_modif' , {'id':facture.id}) }}">Modifier</a>
			</li>
			<li><a href="{{path('htm_stock_Facture_supp' , {'id':facture.id}) }}">Supprimer</a>
			</li>
		</ul>
	</td>
</tr>
	{% endfor %}
</tbody>
</table>
<a href="{{ path('htm_stock_Facture_ajout') }}"> Ajouter une Nouvelle Facture</a>
</div>
</div>
</div>
</div>
 <div class="navigation">
          {{ knp_pagination_render(factures) }}
 </div>
<script src="{{ asset('bundles/htmstock/assets/js/jquery-1.10.2.js')}}"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="{{ asset('bundles/htmstock/assets/js/bootstrap.min.js')}}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{{ asset('bundles/htmstock/assets/js/jquery.metisMenu.js')}}"></script>
     <!-- DATA TABLE SCRIPTS -->
    <script src="{{ asset('bundles/htmstock/assets/js/dataTables/jquery.dataTables.js')}}"></script>
    <script src="{{ asset('bundles/htmstock/assets/js/dataTables/dataTables.bootstrap.js')}}"></script>
        <script>
            $(document).ready(function () {
                $('#dataTables-example').dataTable();
            });
    </script>
         <!-- CUSTOM SCRIPTS -->
    <script src="{{ asset('bundles/htmstock/assets/js/custom.js')}}"></script>
  
 
{% endblock %}
 