{% extends 'HTMStockBundle::index.html.twig' %}

{% block body %}
    <link href="{{ asset('bundles/htmstock/admin/plugins/datatables-responsive/css/datatables.responsive.css') }}"
          rel="stylesheet" type="text/css" media="screen"/>
    <script src="{{ asset('bundles/htmstock/admin/plugins/jquery-datatable/js/jquery.dataTables.min.js') }}"
            type="text/javascript"></script>
    <script src="{{ asset('bundles/htmstock/admin/plugins/bootstrap-tag/bootstrap-tagsinput.min.js') }}"
            type="text/javascript"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/htmstock/admin/plugins/dropzone/dropzone.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/htmstock/admin/js/form_elements.js') }}"></script>

    <div class="row">
        <div class="col-md-12">
            <form action="{{ path('magasinier_edit',{'id':magasinier.id }) }}" method="post" {{ form_enctype(form) }}>
                <div class="grid simple">
                    <div class="grid-title no-border">
                        <h4>Ajouter <span class="semi-bold">Magasinier</span></h4>
                        <a href="{{ path('magasinier_index') }}" data-color="rgb(255, 255, 255)" data-color-format="hex"
                           id="cp4" class="btn btn-primary my-colorpicker-control" href="#" data-colorpicker-guid="1"><i
                                    class="fa fa-reply-all"> Retourner à la liste</i></a>
                        <div class="tools"><a href="javascript:;" class="collapse"></a></div>
                    </div>
                    {{ form_errors(form ) }}
                    <div class="grid-body no-border"><br>
                        <div class="row">
                            <div class="col-md-8 col-sm-8 col-xs-8">

                                <fieldset>
                                    <legend> Les coordonnées employeurs</legend>
                                    <p>
                                    <div class="form-group">
                                        <label class="form-label">Point De Vente</label>
                                        <span class="help"></span>
                                        <div class="controls">
                                            {{ form_widget(form.PointDeVente) }}
                                            {{ form_errors(form.PointDeVente) }}

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label"><span class="semi-bold">Login</span></label>
                                        <span class="help"></span>
                                        <div class="controls">
                                            {{ form_widget(form.user.username  ) }}
                                            {{ form_errors(form.user.username  ) }}

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label"><span class="semi-bold">Mot De passe</span></label>
                                        <span class="help"></span>
                                        <div class="controls">
                                            {{ form_widget(form.user.plainPassword   ) }}
                                            {{ form_errors(form.user.plainPassword     ) }}

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label"><span class="semi-bold">Email</span></label>
                                        <span class="help"></span>
                                        <div class="controls">
                                            {{ form_widget(form.user.email) }}
                                            {{ form_errors(form.user.email) }}

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label"><span class="semi-bold">Activé ?</span></label>
                                        <span class="help"></span>
                                        <div class="controls">
                                            {{ form_widget(form.user.enabled) }}
                                            {{ form_errors(form.user.enabled) }}

                                        </div>
                                    </div>
                                    </p>


                                </fieldset>

                                <fieldset>
                                    <legend>coordonnées Personnelles</legend>
                                    <p>
                                    <div class="form-group">
                                        <label class="form-label"><span class="semi-bold">Nom </span></label>

                                        <div class="controls">
                                            {{ form_widget(form.nom) }}
                                            {{ form_errors(form.nom) }}


                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label"><span class="semi-bold">Prenom</span></label>

                                        <div class="controls">

                                            {{ form_widget(form.prenom) }}
                                            {{ form_errors(form.prenom) }}

                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="form-label"><span class="semi-bold">CIN</span></label>
                                        {{ form_widget(form.cIN) }}
                                        {{ form_errors(form.cIN) }}
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label"><span
                                                    class="semi-bold">Date De naissance</span></label>
                                        {{ form_widget(form.datenaissance) }}
                                        {{ form_errors(form.datenaissance) }}

                                    </div>


                                    <div class="form-group">
                                        <label class="form-label"><span class="semi-bold">Adresse </span></label>

                                        <div class="controls">
                                            {{ form_widget(form.adresse) }}
                                            {{ form_errors(form.adresse) }}


                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label"><span class="semi-bold">Téléphone</span></label>
                                        {{ form_widget(form.telephone) }}
                                        {{ form_errors(form.telephone) }}

                                    </div>

                                    <div class="form-group">
                                        <label class="form-label"><span class="semi-bold">Sexe</span></label>
                                        <div class="right">
                                            <i class=""></i>
                                            {{ form_widget(form.sexe) }}
                                            {{ form_errors(form.sexe) }}
                                        </div>
                                    </div>

                                </fieldset>

                                <script src="//cdn.ckeditor.com/4.4.7/standard/ckeditor.js"></script>

                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary btn-cons"><i class="icon-ok"></i> Save
                                    </button>
                                    <button type="button" class="btn btn-white btn-cons">Cancel</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                {{ form_rest(form) }}
            </form>
        </div>
    </div>

{% endblock %}

   
