{% extends 'HTMStockBundle::index.html.twig' %}

{% block body %}
    <script src="jquery-1.11.2.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){

        });
    </script>

    <div class="row-fluid">
        <div class="span12">
            <div class="grid simple ">
                <div class="grid-title">
                    <span class="semi-bold">Liste des points des ventes</span>
                    <div class="tools"> <a href="javascript:;" class="collapse"></a>

                    </div>
                </div>
                <div class="grid-body ">
                    <table class="table table-striped" id="example2" >
                        <thead>
                        <tr>
                            <th></th>
                            <th>Nom point de vente</th>
                            <th>Gouvernorat</th>
                            <th>Adress</th>
                            <th>Téléphone</th>
                            <th>Mail</th>

                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for pointDeVente in pointDeVentes %}

                            <tr class="odd gradeX">
                                <td><i class="fa fa-plus-circle"></i></td>
                                <td>{{ pointDeVente.nomPv }}</td>
                                <td>{{ pointDeVente.gouvernorat }}</td>
                                <td>{{ pointDeVente.adress }}</td>
                                <td>{{ pointDeVente.tel }}</td>
                                <td>{{ pointDeVente.mail }}</td>


                                <td class="center">
                                    <div class="visible-md visible-lg hidden-sm hidden-xs">

                                        <a href="{{ path('pointdevente_edit', { 'id': pointDeVente.id }) }}" class="btn btn-xs  btn-warning"><i class="fa fa-edit"></i></a>

                                        <a href="{{ path('pointdevente_show', { 'id': pointDeVente.id }) }}" class="btn btn-xs   btn-primary "><i class="fa fa-share"></i></a>
                                        
                                        <a href="{{ path('pointdevente_delete', { 'id': pointDeVente.id }) }}" class="btn btn-xs  btn-danger" ><i class="fa fa-times fa fa-white"></i></a>
                                    </div>
                                </td>

                            </tr>
                        {% endfor  %}
                        </tbody>
                    </table>
                
                     <div  align ="right" class="navigation">
        {{ knp_pagination_render(pointDeVentes) }}
    </div>
    </div>
            </div>
        </div>

    </div>
    <!-- Bootstrap core JavaScript
   ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{asset('assets/js/jquery.min.js')}}"></script>
    <script src="{{asset('assets/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('assets/js/jquery.dataTables.min.js')}}"></script>
    <script>


        $('document').ready(function(){

            $('.dtable').DataTable({"language":{
                "sProcessing":     "Traitement en cours...",
                "sSearch":         "Rechercher&nbsp;:",
                "sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
                "sInfo":           "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                "sInfoEmpty":      "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                "sInfoPostFix":    "",
                "sLoadingRecords": "Chargement en cours...",
                "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
                "oPaginate": {
                    "sFirst":      "Premier",
                    "sPrevious":   "Pr&eacute;c&eacute;dent",
                    "sNext":       "Suivant",
                    "sLast":       "Dernier"
                },
                "oAria": {
                    "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                    "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                }
            }});

        });


    </script>

    <script>
        $("#test2").remove();

    </script>


{% endblock %}
{#<div class="row" >
 <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             liste des Point de Vente 
                        </div>
    <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr class="active">
                <th>Id</th> 
                <th>Nompv</th> 
                <th>Gouvernorat</th>
                <th>Adress</th>
                <th>Tel</th>
                <th>Mail</th>
                <th>productStock</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pointDeVente in pointDeVentes %}
            <tr>
                <td><a href="{{ path('pointdevente_show', { 'id': pointDeVente.id }) }}">{{ pointDeVente.id }}</a></td>
                
                <td>{{ pointDeVente.nomPv }}</td>
                <td>{{ pointDeVente.gouvernorat }}</td>
                <td>{{ pointDeVente.adress }}</td>
                <td>{{ pointDeVente.tel }}</td>
                <td>{{ pointDeVente.mail }}</td>
                <td>{{ pointDeVente.quantiteStock }}</td>
                <td>
                    <ul>
                       
                            <a href="{{ path('pointdevente_show', { 'id': pointDeVente.id }) }}" data-color="blue" class="btn btn-primary btn-xs">show</a>
                      
                            <a href="{{ path('pointdevente_edit', { 'id': pointDeVente.id }) }}" data-color="blue" data-color-format="hex" id="cp4" class="btn btn-primary btn-xs">edit</a>
                    
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
       </div>
</div>
</div>
</div>
    <ul>
        <li>
            <a href="{{ path('pointdevente_new') }}" data-color="rgb(255, 255, 255)" data-color-format="hex" id="cp4" class="btn btn-primary my-colorpicker-control">Create a new entry</a>
        </li>
    </ul>
    <script src="{{ asset('bundles/htmstock/assets/js/jquery-1.10.2.js')}}"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="{{ asset('bundles/htmstock/assets/js/bootstrap.min.js')}}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{{ asset('bundles/htmstock/assets/js/jquery.metisMenu.js')}}"></script>
     <!-- DATA TABLE SCRIPTS -->
    <script src="{{ asset('bundles/htmstock/assets/js/dataTables/jquery.dataTables.js')}}"></script>
    <script src="{{ asset('bundles/htmstock/assets/js/dataTables/dataTables.bootstrap.js')}}"></script>
        <script>
            $(document).ready(function () {
                $('#dataTables-example').dataTable();
            });
    </script>
         <!-- CUSTOM SCRIPTS -->
    <script src="{{ asset('bundles/htmstock/assets/js/custom.js')}}"></script>#}

