{% extends 'HTMStockBundle::index.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-11">
            <div class="grid simple">
                <div class="grid-body no-border invoice-body"> <br>
                    <a href="{{ path('pointdevente_index') }}" data-color="rgb(255, 255, 255)" data-color-format="hex" id="cp4" class="btn btn-primary my-colorpicker-control" href="#" data-colorpicker-guid="1"><i class="fa fa-reply-all">  Retourner à la liste</i></a>
                    <a href="{{ path('pointdevente_edit', { 'id': pointDeVente.id }) }}" data-color="rgb(255, 255, 255)" data-color-format="hex" id="cp4" class="btn btn-warning my-colorpicker-control" href="#" data-colorpicker-guid="1"><i class="fa fa-edit"> Modifier </i></a>
                    <a href="{{path('pointdevente_delete', { 'id':pointDeVente.id }) }}" data-color="rgb(255, 255, 255)" data-color-format="hex" id="cp4" class="btn btn-danger my-colorpicker-control" href="#" data-colorpicker-guid="1"><i class="fa fa-times fa fa-white"> Supprimer</i></a>
                    <br><br><br><br>
                    <div class="pull-left">
                        <address>


                            <h5 class="semi-bold " style="color:green"><I>Id:</I></h5>
                            <strong>{{ pointDeVente.id }}</strong><br>

                            <h5 class="semi-bold " style="color:green"><I>Nom point de vente:</I></h5>
                            <strong>{{ pointDeVente.nomPv}}</strong><br>

                            <h5 class="semi-bold " style="color:green"><I>Gouvernorat:</I></h5>
                            <strong>{{   pointDeVente.gouvernorat}}</strong><br>


                            <h5  class="semi-bold " style="color:green"><I>Adresse:</I></h5>
                            <strong>{{ pointDeVente.adress }}</strong><br>

                            <h5  class="semi-bold " style="color:green"><I>Téléphone:</I></h5>
                            <strong>{{ pointDeVente.tel }}</strong><br>

                            <h5  class="semi-bold " style="color:green"><I>Mail:</I></h5>
                            <strong>{{ pointDeVente.mail }}</strong><br>

                            <br>

                        </address>
                        <br>
                        <br>
                        <br>
                        <br>

                    </div>

                    <div class="clearfix"></div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

                    <br>
                    <br>
                </div>
            </div>
        </div>

    </div>



{% endblock %}
   {#  <h1>Liste des PointDeVente</h1> #}{#
<div class="table-responsive">
     <table class="table table-striped table-bordered table-hover" id="dataTables-example">
   <thead>
            <tr class="active">
                    <th>Id</th>
                <td>{{ pointDeVente.id  }}   </td>
              </tr>

             <tr class="active">
                    <th>Nompv:</th>
                <td>{{ pointDeVente.nomPv  }} </td>
              </tr>

          <tr class="active">
                    <th>Gouvernorat:</th>
                <td>{{  pointDeVente.gouvernorat }} </td>
              </tr>

          <tr class="active">
                    <th>Adress:</th>
                <td>{{ pointDeVente.adress  }} </td>
              </tr>

          <tr class="active">
                    <th>Télephone:</th>
                <td>{{ pointDeVente.tel  }}  </td>
              </tr>


           <tr class="active">
                    <th>Télephone:</th>
                <td>{{ pointDeVente.tel  }}  </td>
              </tr>

          
           <tr class="active">
                    <th>Mail:</th>
                <td>{{ pointDeVente.mail  }}  </td>
              </tr>
        

      <tr class="active">
                    <th>Quantitestock:</th>
                <td>{{ pointDeVente.quantiteStock}} </td>
              </tr>

             </body>
              </table>

    <ul>
       
            <a href="{{ path('pointdevente_index') }}" data-color="rgb(255, 255, 255)" data-color-format="hex" id="cp4" class="btn btn-primary my-colorpicker-control">Back to the list</a>
       
            <a href="{{ path('pointdevente_edit', { 'id': pointDeVente.id }) }}" data-color="rgb(255, 255, 255)" data-color-format="hex" id="cp4" class="btn btn-primary my-colorpicker-control">Edit</a>
     
            {{ form_start(delete_form) }}
                 <br>  <input type="submit" class="btn btn-danger" value="Delete">
            {{ form_end(delete_form) }}
      
    </ul>#}

