
{% extends 'HTMStockBundle::index.html.twig' %}

{% block body %}

    <link href="{{asset('bundles/htmstock/admin/plugins/jquery-datatable/css/jquery.dataTables.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{asset('bundles/htmstock/admin/plugins/boostrap-checkbox/css/bootstrap-checkbox.css')}}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{asset('bundles/htmstock/admin/plugins/datatables-responsive/css/datatables.responsive.css')}}" rel="stylesheet" type="text/css" media="screen"/>
    <script src="{{asset('bundles/htmstock/admin/plugins/jquery-datatable/js/jquery.dataTables.min.js')}}" type="text/javascript" ></script>
    <script src="{{asset('bundles/htmstock/admin/plugins/jquery-datatable/extra/js/TableTools.min.js')}}" type="text/javascript" ></script>
    <script type="text/javascript" src="{{asset('bundles/htmstock/admin/plugins/datatables-responsive/js/datatables.responsive.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/htmstock/admin/plugins/datatables-responsive/js/lodash.min.js')}}"></script>

    <script src="{{asset('bundles/htmstock/admin/js/datatables.js')}}" type="text/javascript"></script>

    <div class="row">
        <div class="col-md-12">
            <form action="{{ path('produitfournisseur_new') }}" method="post" {{ form_enctype(form) }}>
                <div class="grid simple">
                    <div class="grid-title no-border">
                        <h4>Demander <span class="semi-bold">des Produits</span></h4>
                        <a href="{{ path('produitfournisseur_index') }}" data-color="rgb(255, 255, 255)" data-color-format="hex" id="cp4" class="btn btn-primary my-colorpicker-control" href="#" data-colorpicker-guid="1"><i class="fa fa-reply-all">  Retourner à la liste</i></a>

                    </div>
                    <div class="grid-body no-border"> <br>
                        <div class="row">
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <div class="form-group">
                                    <label class="form-label"> <span class="semi-bold">Produit</span></label>
                                    <span class="help"></span>
                                    <div class="controls">
                                        {{ form_widget(form.produit)}}

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label"><span class="semi-bold">Fournisseur</span></label>
                                    <span class="help"></span>
                                    <div class="controls">
                                        {{ form_widget(form.fournisseur)}}

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="form-label"><span class="semi-bold">Quantié</span></label>
                                    <span class="help"></span>
                                    <div class="controls">
                                        {{ form_widget(form.quantite)}}

                                    </div>
                                </div>
                                <script src="//cdn.ckeditor.com/4.4.7/standard/ckeditor.js"></script>

                                <div class="pull-right">
                                    <button type="submit" class="btn btn-success btn-cons"><i class="icon-ok"></i> Save</button>
                                    <button type="button" class="btn btn-white btn-cons">Cancel</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                {{ form_rest(form) }}
            </form>
        </div>
    </div>
{% endblock %}

















