{% extends 'HTMStockBundle::index.html.twig' %}

{% block body %}

    <link href="{{asset('bundles/htmstock/admin/plugins/jquery-datatable/css/jquery.dataTables.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{asset('bundles/htmstock/admin/plugins/boostrap-checkbox/css/bootstrap-checkbox.css')}}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{asset('bundles/htmstock/admin/plugins/datatables-responsive/css/datatables.responsive.css')}}" rel="stylesheet" type="text/css" media="screen"/>
    <script src="{{asset('bundles/htmstock/admin/plugins/jquery-datatable/js/jquery.dataTables.min.js')}}" type="text/javascript" ></script>
    <script src="{{asset('bundles/htmstock/admin/plugins/jquery-datatable/extra/js/TableTools.min.js')}}" type="text/javascript" ></script>
    <script type="text/javascript" src="{{asset('bundles/htmstock/admin/plugins/datatables-responsive/js/datatables.responsive.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/htmstock/admin/plugins/datatables-responsive/js/lodash.min.js')}}"></script>

    <script src="{{asset('bundles/htmstock/admin/js/datatables.js')}}" type="text/javascript"></script>

<div class="row">
    <div class="col-md-11">
        <div class="grid simple">
            <div class="grid-body no-border invoice-body"> <br>
                <a href="{{ path('salepointproduct_index') }}" data-color="rgb(255, 255, 255)" data-color-format="hex" id="cp4" class="btn btn-primary my-colorpicker-control" href="#" data-colorpicker-guid="1"><i class="fa fa-reply-all">  Retourner à la liste</i></a>
                <a href="{{ path('salepointproduct_edit', { 'id': salePointProduct.id }) }}" data-color="rgb(255, 255, 255)" data-color-format="hex" id="cp4" class="btn btn-warning my-colorpicker-control" href="#" data-colorpicker-guid="1"><i class="fa fa-edit"> Modifier l'offre</i></a>
                <a href="{{path('salepointproduct_delete', { 'id': salePointProduct.id }) }}" data-color="rgb(255, 255, 255)" data-color-format="hex" id="cp4" class="btn btn-danger my-colorpicker-control" href="#" data-colorpicker-guid="1"><i class="fa fa-times fa fa-white"> Supprimer</i></a>
                <br><br><br><br>
                <div class="pull-left">
                    <address>
                        <h5  class="semi-bold " style="color:#FF0000"><I>Quantite:</I></h5>
                        <h4>{{ salePointProduct.quantite }}</h4>
                        <strong style="color:#FF0000"><I>Produit:</I></strong><br>
                        <strong >{{ salePointProduct.produit.nom }}</strong><br>
                        <strong style="color:#FF0000"><I>Point De Vente:</I></strong><br>
                        <strong >{{ salePointProduct.salePoint.nomPv }}</strong><br>

                        <br>
                        <br>

                    </address>
                    <br>
                    <br>
                    <br>
                    <br>

                </div>

                <div class="clearfix"></div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h5 class="text-right text-black">Date de création</h5>

                <br>
                <br>
            </div>
        </div>
    </div>

</div>

{% endblock  %}











